@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap");
.card-primary-style img {
  width: 160px;
  height: 160px;
  margin-left: 40px;
  box-sizing: border-box;
}
.card-primary-style p {
  margin-top: 16px;
  margin-left: 20px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  /* identical to box height, or 175% */

  letter-spacing: 0.5px;

  color: #1e1e1e;
}
