@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.heading-doc {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  /* identical to box height, or 118% */

  text-align: center;
  letter-spacing: 0.25px;

  color: #1e1e1e;
}
.whole-contain {
  margin-top: 80px;
}

.para-doc {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  /* identical to box height, or 175% */

  letter-spacing: 0.5px;

  color: #1e1e1e;
}
.list-doc {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  margin-bottom: auto;
}
.list-doc li {
  /* W Body 1 */

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  /* identical to box height, or 175% */

  letter-spacing: 0.5px;

  color: #1e1e1e;
  list-style-type: none;
}

.btn-join {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 16px;
  background: #009b94;
  border: none;
  border-radius: 4px;
  width: 130px;
  height: 48px;
  color: #ffffff;
  margin-top: 24px;
}
.btn-join button {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */

  text-align: center;
  letter-spacing: 1.25px;

  /* Default / White */
  border: none;
}
