@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.TheCard-container {
  margin-top: 40px;
}
.nav-container {
  height: 80px;
}
.main-wrapper {
  width: 550px;
  height: 200px;
  display: flex;
  background: #ffffff;
  border: 1px solid #cccccc;
  box-sizing: border-box;
  border-radius: 6px;
  justify-content: center;
}

.head-btn {
  width: 330px;
  height: 198px;
  padding-top: 16px;
  padding-left: 16px;
}

.head-btn h3 {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  /* identical to box height, or 175% */

  letter-spacing: 0.5px;

  color: #1e1e1e;
}
.head-btn p {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  /* or 157% */

  letter-spacing: 0.25px;

  color: #5c5c5c;
}

.head-btn button {
  background: #009b94;
  border-radius: 4px;
  padding: 8px 16px;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}
