@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.card-container {
  background: #ffffff;
  border: 1px solid #cccccc;
  box-sizing: border-box;
  border-radius: 6px;
}

.card-desc p {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  text-align: left;
  /* or 157% */

  letter-spacing: 0.25px;

  color: #5c5c5c;
}

.Catd-title h3 {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  /* identical to box height, or 175% */

  letter-spacing: 0.5px;

  color: #1e1e1e;
}

.btn-appointment button {
  background: #009b94;
  border-radius: 4px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */

  text-align: center;
  letter-spacing: 1.25px;

  /* Default / White */

  color: #ffffff;
  border: none;
  padding: 8px 16px;
}
