@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.Jumbo-container {
  background: #009b94;
  height: 432px !important;
  border: none;
  border-radius: 0px;
  margin: 0px;
}
.Jumbo-contain {
  background: #009b94;

  height: 432px;
}

/* .form-input input{
    width:50% !important;
} */
.Jumbtron-heading {
  width: 735px;
  height: 128px;

  margin-left: auto;
  margin-right: auto;
  margin-top: 64px;
}

.Jumbtron-heading h3 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  color: #ffffff;
}

.form-input {
  margin-top: 40px;
  width: 292px;
  height: 48px;
  background-color: #ffffff;
}

.search-input input {
  margin-top: 40px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.input-lahore {
  width: 232px;
  height: 48px;
  outline: none;
  border: none;
}
.input-lahore::placeholder {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  /* identical to box height, or 175% */
  padding-left: 15px;
  letter-spacing: 0.5px;

  color: #5c5c5c;
}

.location-icon {
  margin-top: 16px;
  margin-left: 15px;
}
.search-input::placeholder {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  /* identical to box height, or 175% */

  letter-spacing: 0.5px;

  color: #5c5c5c;
}

.form-input::placeholder {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  /* identical to box height, or 175% */

  letter-spacing: 0.5px;

  color: #5c5c5c;
}

.Jumbo-btn button {
  width: 120px;
  height: 48px;
  background: #00625d;
  border-radius: 4px;
  margin-top: 40px;
  border: none;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  color: #ffffff;
  letter-spacing: 1.25px;
}

.Jumbo-btn button:hover {
  background: #00504c;
}
.btn-second {
  display: flex;
  justify-content: center;
  margin-top: 32px;
}

.btn-second button {
  width: 196px;
  height: 56px;
  background: #ff9300;
  border-radius: 4px;

  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  letter-spacing: 1.25px;

  color: #ffffff;
  border: none;
}
.btn-second button:hover {
  background: #e98600;
}
