.modal--- {
  width: 400px !important;
}

.modal-content {
  width: auto;
  background: #ffffff;
  border-radius: 6px;
}

#pay-now-payment {
  width: 320px;
  background: #009b94;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 16px;
  border: none;

  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */

  text-align: center;
  letter-spacing: 1.25px;

  /* Default / White */

  color: #ffffff;
  margin-bottom: 40px;
  /* Inside Auto Layout */
}

.payment-modal-close-icon {
  padding-right: 16px;
  padding-top: 16px;
}

.payment-modal-icon {
  margin-top: 40px;
  margin-bottom: 16px;
}

.payment-modal-desc p {
  width: 300px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  /* or 175% */

  text-align: center;
  letter-spacing: 0.5px;

  color: #1e1e1e;
}

.payment-modal-name-input input {
  background: #ffffff;
  border: 1px solid #cccccc;
  box-sizing: border-box;
  border-radius: 4px;
  width: 320px;
  height: 48px;
  margin-bottom: 8px;
}

.card-expiry-date input {
  background: #ffffff;
  border: 1px solid #cccccc;
  box-sizing: border-box;
  border-radius: 4px;
  width: 157px;
  height: 48px;

  margin-bottom: 16px;
}

#card-expiry-date {
  background: #ffffff;
  border: 1px solid #cccccc;
  box-sizing: border-box;
  border-radius: 4px;
  width: 157px;
  height: 48px;
  margin-left: 8px;
  margin-bottom: 16px;
}

.payment-modal-name-input input::placeholder,
#card-expiry-date::placeholder,
.card-expiry-date input::placeholder {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  /* identical to box height, or 175% */

  letter-spacing: 0.5px;
  padding-left: 8px;
  color: #5c5c5c;
}
