@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
.row {
  margin: 0px;
  padding: 0px;
}
.Modal-Header-first {
  width: 321px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  background: #009b94;
  padding-top: 0px;
  padding-left: 0px;
  padding-bottom: 0rem;
}

.Modal-Header-first img {
  display: flex;
  justify-content: center;
  align-items: center;

  padding-top: 113px !important;
  padding-bottom: 127px;
}

.Modal-Header-second {
  width: 480px;

  border-bottom: none;

  /* border-top-left-radius: 0px;
  border-top-right-radius: 0px; */
  display: flex;
  justify-content: space-between;
}
.Modal-Header-second img {
  cursor: pointer;
  margin-right: 1rem;
  margin-top: 16px;
  margin-left: 1rem;
}

.modal-body {
  padding: 0rem;
}

.modal-logo-eshafi {
  display: flex;
  justify-content: center;
}

.modal-logo-eshafi img {
  margin-top: 45.1px;
  margin-bottom: 0px !important;
}

.modal-para {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  padding: 0px !important ;
  margin-bottom: 0px !important;
}

.modal-para p {
  padding: 0px !important ;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  /* or 175% */
  width: 18.9rem;

  text-align: center;
  letter-spacing: 0.5px;

  color: #1e1e1e;
}

.modal-phone-num {
  margin-top: 0px;
  display: flex;
  justify-content: center;
}

.modal-otp {
  display: flex;
  justify-content: center;
}
.modal-otp input {
  width: 48px !important;
  height: 48px !important;
}
.modal-phone-num input {
  width: 20rem;
  height: 3rem;
}

.modal-phone-num p input {
  width: 20rem;
  height: 3rem;
}
.modal-num-btn {
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-num-btn button {
  width: 20rem;
  height: 48px;
  background: #009b94;
  border-radius: 4px;
  padding: 12px 16px;
  border: none;

  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 1.25px;
  color: #ffffff;
}

.setInputClass {
  border: 1px solid red;
  padding-left: 10px;
}
